.menu-fast{
    background-color: #e3f2fd;
}

.breadcrumb {
    background-color: rgb(231 225 225);
    padding: 12px 13px;
}
.bbhn{
    height: 450px;
}
.pagi{
    margin-left: 270px;
}
.drop{
    margin-left: 100px;
}
.futter{
    height: 60px;
    background-color: #17a2b8;
    color: white;
    padding: 20px 0;
}